<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

  <div class="page-header">
    <h1>Find Owners</h1>
  </div>

  <div class="card">
    <div class="card-body">
      <form th:object="${owner}" th:action="@{/owners}" method="get" id="search-owner-form">
        <div class="row mb-3">
          <label for="lastName" class="col-sm-2 col-form-label">Last name</label>
          <div class="col-sm-10">
            <input id="lastName" class="form-control" th:field="*{lastName}" size="30" maxlength="80" placeholder="Search by last name"/>
            <div th:if="${#fields.hasAnyErrors()}" class="text-danger small mt-1">
              <p th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary me-2">Find Owner</button>
            <a class="btn btn-primary" th:href="@{/owners/new}">Add Owner</a>
          </div>
        </div>
      </form>
    </div>
  </div>

</body>
</html>
