<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

  <div class="page-header">
    <h1>Owners</h1>
  </div>

  <div class="card">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table id="owners" class="table table-striped table-hover mb-0">
          <thead>
            <tr>
              <th style="width: 150px;">Name</th>
              <th style="width: 200px;">Address</th>
              <th>City</th>
              <th style="width: 120px">Telephone</th>
              <th>Pets</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="owner : ${listOwners}">
              <td>
                <a th:href="@{/owners/__${owner.id}__}" th:text="${owner.firstName + ' ' + owner.lastName}"></a>
              </td>
              <td th:text="${owner.address}"></td>
              <td th:text="${owner.city}"></td>
              <td th:text="${owner.telephone}"></td>
              <td><span th:text="${#strings.listJoin(owner.pets, ', ')}"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div th:if="${totalPages > 1}" class="pagination-links p-3 border-top">
        <span class="me-2">Pages:</span>
        <span class="me-1">[</span>
        <span th:each="i : ${#numbers.sequence(1, totalPages)}">
          <a th:if="${currentPage != i}" th:href="@{/owners(page=${i}, lastName=${owner.lastName})}" class="me-1">[[${i}]]</a>
          <span th:unless="${currentPage != i}" class="me-1 fw-bold">[[${i}]]</span>
        </span>
        <span class="me-2">]</span>
        <a th:if="${currentPage > 1}" th:href="@{/owners(page=1, lastName=${owner.lastName})}" title="First" class="fa fa-fast-backward me-2"></a>
        <span th:unless="${currentPage > 1}" class="fa fa-fast-backward me-2 text-secondary"></span>
        <a th:if="${currentPage > 1}" th:href="@{/owners(page=${currentPage - 1}, lastName=${owner.lastName})}" title="Previous" class="fa fa-step-backward me-2"></a>
        <span th:unless="${currentPage > 1}" class="fa fa-step-backward me-2 text-secondary"></span>
        <a th:if="${currentPage < totalPages}" th:href="@{/owners(page=${currentPage + 1}, lastName=${owner.lastName})}" title="Next" class="fa fa-step-forward me-2"></a>
        <span th:unless="${currentPage < totalPages}" class="fa fa-step-forward me-2 text-secondary"></span>
        <a th:if="${currentPage < totalPages}" th:href="@{/owners(page=${totalPages}, lastName=${owner.lastName})}" title="Last" class="fa fa-fast-forward"></a>
        <span th:unless="${currentPage < totalPages}" class="fa fa-fast-forward text-secondary"></span>
      </div>

    </div>
  </div>

</body>
</html>
