@media (max-width: 991.98px) {
  .navbar a.navbar-brand {
    width: 140px;
    height: 32px;
    margin: 6px 0;
  }

  .navbar a.navbar-brand span {
    width: 140px;
    height: 32px;
  }

  .navbar .navbar-nav .nav-link {
    padding: 0.5rem 0.75rem;
  }
}

@media (max-width: 768px) {
  .navbar a.navbar-brand {
    display: block;
    margin: 6px auto;
    width: 120px;
    height: 28px;
    background: url("../images/spring-logo-dataflow-mobile.png") center no-repeat;
    background-size: contain;
  }

  .navbar a.navbar-brand span {
    display: none;
  }

  .navbar {
    border-top-width: 2px;
  }

  .xd-container,
  .app-container {
    margin-top: $app-spacing;
    margin-bottom: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .index-page--subtitle {
    margin-top: 0.5rem;
    margin-bottom: $app-spacing-lg;
  }
}
